{{ define "main" }}

{{ $dateFormat := .Site.Params.DateFormat | default "Mon Jan 2, 2006" }}
{{ $author :=  .Params.author | default .Site.Params.author }}
{{ $showNumberOfWords := .Params.ShowNumberOfWords | default .Site.Params.ShowNumberOfWords  }}

<h2><a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a></h2>

    <div class="post-meta">{{ if .Site.Params.ShowDate }}<span class="byline-icon fa fa-clock-o" aria-hidden="true"></span> <span class="screen-reader-text">{{ i18n "date" }}: </span><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format $dateFormat }}</time> - {{ end }}{{ if $author }}
    <span class="byline-icon fa fa-user" aria-hidden="true"></span><span class="screen-reader-text">{{ i18n "author" }}: </span> {{ $author }} - {{ end }}
    {{ if $showNumberOfWords }}{{ .FuzzyWordCount }} {{ i18n "words" }}{{ end }} </div>


  {{ .Content }}


  {{ $allPosts := where site.RegularPages "Type" "posts" }}
  {{ $allPostsByDate := sort $allPosts ".Date" "asc" }}
  {{ $firstPost := index (first 1 $allPostsByDate) 0 }}
  {{ $lastPost := index (last 1 $allPostsByDate) 0 }}

  <div class="row">
    <div class="mx-auto btn-group">
      <a class="btn btn-lg btn-secondary cc-btn-default{{ if eq $firstPost.Permalink $.Permalink }} disabled{{end}}" href="{{if ne $firstPost.Permalink $.Permalink}}{{$firstPost.Permalink}}{{end}}">
        <i class="fa fa-angle-double-left"></i>
        First
      </a>
      <a class="btn btn-lg btn-secondary cc-btn-default{{if not .PrevInSection}} disabled{{end}}" href="{{if .PrevInSection}}{{.PrevInSection.Permalink}}{{end}}">
        <i class="fa fa-angle-left"></i>
        Prev
      </a>
      <a class="btn btn-lg btn-secondary cc-btn-default{{if not .NextInSection}} disabled{{end}}" href="{{if .NextInSection}}{{.NextInSection.Permalink}}{{end}}">
        Next
        <i class="fa fa-angle-right"></i>
      </a>
      <a class="btn btn-lg btn-secondary cc-btn-default{{ if eq $lastPost.Permalink $.Permalink }} disabled{{end}}" href="{{if ne $lastPost.Permalink $.Permalink}}{{$lastPost.Permalink}}{{end}}">
        <i class="fa fa-angle-double-right"></i>
        Last
      </a>
    </div>
  </div>

  <br />

{{ end }}